@import "tailwindcss";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: #020617;

  background-image:
    radial-gradient(circle at top left,
      rgba(0,255,170,0.12),
      transparent 25%),

    radial-gradient(circle at bottom right,
      rgba(0,140,255,0.10),
      transparent 25%),

    linear-gradient(
      rgba(0,255,170,0.06) 1px,
      transparent 1px
    ),

    linear-gradient(
      90deg,
      rgba(0,255,170,0.06) 1px,
      transparent 1px
    );

  background-size:
    auto,
    auto,
    40px 40px,
    40px 40px;

  color: white;

  font-family: Arial, Helvetica, sans-serif;

  overflow-x: hidden;
}
body::before {
  content: "";

  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(0,255,170,0.05),
      transparent 25%
    ),

    radial-gradient(
      circle at 80% 80%,
      rgba(0,255,170,0.03),
      transparent 25%
    );

  animation: cyberGlow 12s ease-in-out infinite alternate;

  z-index: -1;

  pointer-events: none;

  filter: blur(100px);
}
body::after {
  content: "";

  position: fixed;
  inset: 0;

  background-image:
    radial-gradient(
      circle,
      rgba(0,255,170,0.9) 1px,
      transparent 1px
    ),

    radial-gradient(
      circle,
      rgba(0,140,255,0.8) 1px,
      transparent 1px
    );

  background-size:
    120px 120px,
    180px 180px;

  background-position:
    0 0,
    60px 60px;

  animation: twinkle 4s linear infinite;

  opacity: 0.35;

  z-index: -1;

  pointer-events: none;
}
@keyframes cyberGlow {

  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.1) translate(20px, -20px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translate(-20px, 20px);
    opacity: 0.7;
  }
}
@keyframes twinkle {

  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}